{# templates/areas/hero/view.html.twig #}

<section class="hero-section"> 
	<div class="hero-bg gsap-parallax"></div>
	<div class="hero-content container text-center align-bottom">
		<h2 class="display-1 fw-bold">Art of Design</h2>
		<p class="lead">Ein Toolkit für modernes Webdesign.</p>
	</div>
</section>
