{% extends 'includes/bs.html.twig' %}
{% block content %}
	{% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
		{% set bgClass = (loop.index is odd) ? 'bg-odd' : 'bg-even' %}
		<div class="{{ bgClass }}">
			{{ pimcore_areablock("contentareablock") }}
		</div>
	{% endfor %}
{% endblock %}
