/* /src/scss/areas/_hero.scss */

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://picsum.photos/1920/1080?random=753');
    background-image: image-set(
      url('https://picsum.photos/1920/1080?random=753') 1x,
      url('https://picsum.photos/3840/2160?random=753') 2x
    );
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .hero-content {
    position: relative;
    top: 60%;
    z-index: 1;
    color: var(--bg-color-odd); // statt weiß, damit du den hellen Farbton aus der Variable nutzt
    text-shadow: 0 0 2px var(--color-dark-shades), 3px 3px 8px var(--color-dark-shades);

    h1 {
      font-size: 3rem;
      font-weight: bold;
      font-family: var(--font-headline);
    }

    p {
      font-size: 2rem;
      font-family: var(--font-subline);
    }
  }
}