.button {
  background-color: $color-gold;
  color: $color-dark;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: darken($color-gold, 10%);
  }
}