.button {
  background-color: $color-main-brand;
  color: $color-dark-shades;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: darken($color-main-brand, 10%);
  }
}