input, textarea, select {
  border: 1px solid $color-dark;
  padding: 8px;
  border-radius: 3px;
  font-family: $font-primary;
}

input:focus, textarea:focus, select:focus {
  border-color: $color-gold;
  outline: none;
}
