/* /src/scss/_layout.scss */

body {
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  background-color: var(--color-dark-shades);
  color: var(--color-light-accent);
  padding: 30px 0;
  text-align: center;

  a {
    color: var(--color-main-brand);
    text-decoration: none;

    &:hover {
      color: var(--color-bg-odd-light); // entspricht deinem Weiß
    }
  }

  .footer-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-main-brand);
  }
}