/* /src/scss/_variables.scss */

// ========== Farbpalette ==========

$color-light-shades:    #F7F7F7;
$color-light-accent:    #F5F0E7;
$color-main-brand:      #CDA45D;
$color-dark-accent:     #7E8082;
$color-dark-shades:     #2C2C2B;
$color-border:          #dcdcdc;
$color-white:           #ffffff;

$color-bg-darktheme:     $color-dark-shades;
$color-text-darktheme:   $color-dark-accent;
$color-bg-brighttheme:   #f4f4f4;
$color-text-brighttheme: $color-dark-shades;


//Farben Layout Hintergrund
$bg-color-odd:  $color-white; // weiß
$bg-color-even: $color-light-shades; // hellgrau



// ========== Schriften ==========


$font-primary: 'Lato', sans-serif;
$font-secondary: 'Tenor Sans', sans-serif;
$font-h1: 'Cormorant', serif;

// Schriftarten
$font-body: var(--font-body);
$font-headline: var(--font-headline);
$font-subline: var(--font-subline);
$font-brand: Montserrat-Alt1, var(--font-subline), Arial, Helvetica, sans-serif;

$font-weight-light: 300;

// Schriftgrößen
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Farben
$text-color: #7E8082;