/* /src/scss/_variables.scss */

// ========== Farbpalette ==========


// Farb-Variablen als SCSS-Variablen

$color-white:           #ffffff;
$color-light-shades:    #F7F7F7;
$color-light-accent:    #F5F0E7;
$color-main-brand:      #CDA45D;
$color-main-brand-hover:#B78C45;
$color-dark-accent:     #7E8082;
$color-dark-shades:     #2C2C2B;
$color-border:          #dcdcdc;

$color-bg-darktheme:    $color-dark-shades;
$color-text-darktheme:  $color-dark-accent;
$color-bg-lighttheme:   #f4f4f4;
$color-text-lighttheme: $color-dark-shades;

// Farben Layout Hintergrund
$color-bg-odd-light:    $color-white; // weiß
$color-bg-even-light:   $color-light-shades; // hellgrau
$color-bg-odd-dark:     #333333;
$color-bg-even-dark:    $color-dark-shades;

$curtain-transition-duration: 1s;


// Map mit den CSS-Variablen-Namen und Werten (für automatische Ausgabe)

$css-vars: (
    'color-white':              $color-white,
    'color-light-shades':       $color-light-shades,
    'color-light-accent':       $color-light-accent,
    'color-main-brand':         $color-main-brand,
    'color-main-brand-hover':   $color-main-brand-hover,
    'color-dark-accent':        $color-dark-accent,
    'color-dark-shades':        $color-dark-shades,
    'color-border':             $color-border,
    'color-bg-darktheme':       $color-bg-darktheme,
    'color-text-darktheme':     $color-text-darktheme,      
    'color-bg-lighttheme':      $color-bg-lighttheme,
    'color-text-lighttheme':    $color-text-lighttheme,
    'color-bg-odd-light':       $color-bg-odd-light,
    'color-bg-even-light':      $color-bg-even-light,
    'color-bg-odd-dark':        $color-bg-odd-dark,
    'color-bg-even-dark':       $color-bg-even-dark,
    
    'curtain-transition-duration': $curtain-transition-duration,

);



// ========== Schriften ==========

// Schriftarten
$font-body:     var(--font-body);
$font-headline: var(--font-headline);
$font-subline:  var(--font-subline);
$font-brand: Montserrat-Alt1, var(--font-subline), Arial, Helvetica, sans-serif;

$font-weight-light: 300;

// Schriftgrößen
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Farben
$text-color: $color-dark-accent;